{% extends "_webpack.template/_webpack.template.wrapper" %}

{% block header %}
{% endblock %}

{% block main %}
	<h1>Whoa, you missed a main block somewhere. Check your templates!</h1>
{% endblock %}

{% block footer %}
{% endblock %}
